.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: top;
}

.grid-container {
  display: grid;
  /* grid-template-areas: "menu main main main right right"; */
  grid-template-areas: "menu main main main right right top";
  grid-gap: 5px;
  background-color: #3b0000ef;
  padding: 11px;
}

.grid-container > div {
  background-color: rgba(121, 75, 75, 0.8);
  text-align: center;
  padding: 1px 20px;
  font-size: 20px;
}
